<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Music</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- render del partial de la navegacion-->
    <%= render 'partials/nav' %>
    <!--div para los flash que pide gema devise-->
  	<div style="<%= "display: none;" if alert.nil? && notice.nil? %>">
  		<p class="notice"><%= notice %></p>
  		<p class="alert"><%= alert %></p>
  	</div>
    <%= yield %>
  </body>
</html>
